//
// CSS for Radix Admin
// --------------------------------------------------
$menu-background-color: #262626;
$menu-color: #FFFFFF;

$link-background-color: transparent;
$link-color: #AAAAAA;
$link-hover-background-color: #168dd9;
$link-hover-color: #FFFFFF;

$border-color: #AAAAAA;

body.radix-admin-menu {
  padding-left: 80px;
}

#radix-admin-menu {
  background: $menu-background-color;
  color: $menu-color;
  position: fixed;
  top: 0;
  left: 0;
  font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
  width: 80px;
  height: 100%;
  ul.menu {
    margin: 0;
    padding: 0;
  }
  > ul.menu {
    margin: 0;
    padding: 0;
    li {
      list-style: none outside none;
      margin: 0;
      padding: 0;
    }
    > li {
      margin-bottom: 1px;
      &.over {
        > a {
          color: $link-hover-color;
          background-color: $link-hover-background-color;
        }
        > ul.menu {
          display: block;
        }
      }
      > a {
        display: block;
        width: 80px;
        height: 70px;
        background-color: $link-background-color;
        color: $link-color;
        font-size: 11px;
        text-align: center;
        &:hover, &.active {
          color: $link-hover-color;
          background-color: $link-hover-background-color;
        }
        i {
          display: block;
          font-size: 30px;
          text-align: center;
          float: none;
          height: 40px;
          line-height: 50px;
          width: 100%;
          margin: 0;
        }
      }
      > ul.menu {
        display: none;
        position: fixed;
        background: rgba($link-hover-background-color, 0.95);
        top: 0px;
        left: 80px;
        height: 100%;
        padding: 40px 0px;
        overflow: auto;
        width: 250px;
        > li {
          margin-bottom: 1px;
          > a, .nolink {
            font-size: 16px;
            color: $link-hover-color;
            padding: 10px 20px;
            display: block;
            &:hover, &.active {
              background: $link-hover-color;
              color: $link-hover-background-color;
            }
          }
          > ul.menu {
            display: block;
            margin: 0 20px 20px 40px;
            li {
              list-style: disc;
              a {
                font-size: 12px;
                color: #FFFFFF;
                &:hover {
                  text-decoration: underline;
                }
              }
            } 
          }
        }
      }
    }
  }
}


// Tablet
@media (min-width: 768px) and (max-width: 979px) {
  #radix-admin-menu {

  }
}

// Phone
@media (max-width: 767px) {
  #radix-admin-menu {
    width: 250px;
    > ul.menu {
      > li {
        > a {
          width: 100%;
          height: auto;
          text-align: left;
          padding: 10px 0;
          font-size: 1.2em;
          line-height: 1.2em;
          i {
            display: inline;
            font-size: 1.5em;
            height: auto;
            line-height: 0.8em;
            margin: 0 10px;
          }
        }
        &.over {
          ul.menu {
            display: none;
          }
        }
      }
    }
  }
}