//
// Styles for main layout
// --------------------------------------------------

// Container
// --------------------------------------------------
.container {
  max-width: 970px !important; // Change this to make site wider or smaller.
}

body {
  .jumbotron {
    // background: lighten($brand-primary, 50);
  }
  .sidebar {
    @media (max-width: $screen-md-min) {
      display: none;
    }
  }
  #main-wrapper {
    padding-top: 50px;
    padding-bottom: 150px;
  }
}
