//
// Styles for main layout
// --------------------------------------------------

// Container
// --------------------------------------------------
.container {
  max-width: 970px !important; // Change this to make site wider or smaller.
  background: red;
}

// Header
// --------------------------------------------------
.header {
}
body.page-header-hidden {
  .header {
    display: none;
  }
}

// Top
// --------------------------------------------------
body.page-top-hidden {
  .top {
    display: none;
  }
}

// Main
// --------------------------------------------------
.main {
  padding-top: 20px;
  padding-bottom: 20px;
}
body.page-is-panel {
  .main {
    padding-top: 0;
  }
}
body.page-is-not-panel {
  .main {
    @extend .container;
  }
}

// Footer
// --------------------------------------------------
.footer {
  @include section($navbar-default-border, $text-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

// Equal height columns
// --------------------------------------------------
.col-eh {
  margin-bottom: 30px;
}
