/**
 * CSS files for Radix Admin.
 */
.drupal-navbar .navbar-icon:before {
  display: none; /* No icons*/
}
.drupal-navbar .navbar-bar .navbar-icon {
  background: none;
  padding: 1em 1.3333em;
}
.drupal-navbar .fa {
  font-size: 1.3333em;
  margin-right: 8px;
}
.drupal-navbar .navbar-tray .menu li a {
  padding: 15px 25px;
}
.drupal-navbar .navbar-icon.navbar-handle {
  text-indent: 0 !important;
}
.drupal-navbar .navbar-icon.navbar-handle {
  outline: none;
}

.drupal-navbar .navbar-bar {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}
.drupal-navbar .navbar-tray-vertical,
.drupal-navbar .navbar-tray-vertical > .navbar-lining:before {
  bottom: 0;
  width: 200px;
}
@media only screen and (min-width: 38.125em) {
  body.navbar-tray-open.navbar-vertical {
    margin-left: 200px;
  }
}
.drupal-navbar .navbar-tray-vertical > .navbar-lining,
.drupal-navbar .navbar-tray-vertical > .navbar-lining:before {
  border-right: 0;
}
.drupal-navbar .navbar-tray-vertical > .navbar-lining:before {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}
.drupal-navbar .navbar-tray-vertical > .navbar-lining {
  background-color: #252931;
  color: #808b9c;
}
.drupal-navbar .navbar-tray .menu,
.drupal-navbar .navbar-tray .menu ul {
  margin: 0;
}
.drupal-navbar .navbar-tray .menu li {
  border: 0 !important;
}
.drupal-navbar .navbar-tray .menu li a {
  color: #eee;
  text-decoration: none;
}
.drupal-navbar .navbar-tray .menu li.level-1 > .navbar-box > a {
  padding: 15px;
  font-size: 1.2em;
  color: white;
  position: relative;
}
.drupal-navbar .navbar-tray .menu li.level-1 > .navbar-box > a:hover,
.drupal-navbar .navbar-tray .menu li.level-1.active-trail > .navbar-box > a {
  color: #fff;
  background: rgba(255,255,255,0.1);
  text-decoration: none;
}
.drupal-navbar .navbar-tray .active-trail > .navbar-box a,
.drupal-navbar .navbar-tray a.active {
  font-weight: normal;
}
.drupal-navbar .navbar-tray .menu li.level-1.active-trail > .navbar-box > a:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #16a085;
}
.drupal-navbar .navbar-tray .menu li.level-1 .menu {
  background: #222;
}
